### In this jupyter notebook we will solve all the exercises (at least those that benefit from some coding and that I am capable of solving) from chapter 1 of the book: An Introduction to Mathematical Cryptography

#### 1.1. Build a cipher wheel as illustrated in Fig.1.1, but with an inner wheel that rotates, and use it to complete the following tasks. 
####  (a) Encrypt the following plaintext using a rotation of 11 clockwise.
 #### “A page of history is worth a volume of logic.”
 #### (b) Decrypt the following message, which was encrypted with a rotation of 7 clock
#### wise.AOLYLHYLUVZLJYLAZILAALYAOHUAOLZLJYLAZAOHALCLYFIVKFNBLZZLZ
####  (c) Decrypt the following message, which was encrypted by rotating 1 clockwise
 #### for the first letter, then 2 clockwise for the second letter, etc.
####  XJHRFTNZHMZGAHIUETXZJNBWNUTRHEPOMDNBJMAUGORFAOIZOCC

We create a python class called cypherwheel which is initialised with an integer which determines the shift.

In [2]:
class CypherWheel:
    def __init__(self, shift: int):
        self.shift = shift % 26  # ensure shift is within 0-25

    def encrypt(self, text: str) -> str:
        return self._shift_text(text, self.shift)

    def decrypt(self, text: str) -> str:
        return self._shift_text(text, -self.shift)

    def _shift_text(self, text: str, shift: int) -> str:
        result = []
        for char in text:
            if char.isalpha():
                base = ord('A') if char.isupper() else ord('a')
                # Shift character and wrap around using modulo 26
                new_char = chr((ord(char) - base + shift) % 26 + base)
                result.append(new_char)
            else:
                # Leave non-alphabetic characters unchanged
                result.append(char)
        return ''.join(result)

Solution part a)

In [3]:
wheel11 = CypherWheel(11)
wheel11.encrypt("A page of history is worth a volume of logic.")

'L alrp zq stdezcj td hzces l gzwfxp zq wzrtn.'

Solution part b)

In [4]:
wheel7 = CypherWheel(7)
wheel7.decrypt("AOLYLHYLUVZLJYLAZILAALYAOHUAOLZLJYLAZAOHALCLYFIVKFNBLZZLZ")

'THEREARENOSECRETSBETTERTHANTHESECRETSTHATEVERYBODYGUESSES'

Solution to part c)

In [6]:
# The encrypted message
ciphertext = "XJHRFTNZHMZGAHIUETXZJNBWNUTRHEPOMDNBJMAUGORFAOIZOCC"

# Decrypt using variable shifts
plaintext = ""
for i, c in enumerate(ciphertext):
    wheel = CypherWheel(i + 1)  # shift used in encryption
    plaintext += wheel.decrypt(c)

print(plaintext)

WHENANGRYCOUNTTENBEFOREYOUSPEAKIFVERYANGRYANHUNDRED

####  1.2. Decrypt each of the following Caesar encryptions by trying the various possible shifts until you obtain readable text.
 ##### (a) LWKLQNWKDWLVKDOOQHYHUVHHDELOOERDUGORYHOBDVDWUHH
 ##### (b) UXENRBWXCUXENFQRLQJUCNABFQNWRCJUCNAJCRXWORWMB
 ##### (c) BGUTBMBGZTFHNLXMKTIPBMAVAXXLXTEPTRLEXTOXKHHFYHKMAXFHNLX

We solve only the first one.

In [8]:
for i in range(26):
    wheel = CypherWheel(i + 1)
    print(wheel.decrypt("LWKLQNWKDWLVKDOOQHYHUVHHDELOOERDUGORYHOBDVDWUHH"))

KVJKPMVJCVKUJCNNPGXGTUGGCDKNNDQCTFNQXGNACUCVTGG
JUIJOLUIBUJTIBMMOFWFSTFFBCJMMCPBSEMPWFMZBTBUSFF
ITHINKTHATISHALLNEVERSEEABILLBOARDLOVELYASATREE
HSGHMJSGZSHRGZKKMDUDQRDDZAHKKANZQCKNUDKXZRZSQDD
GRFGLIRFYRGQFYJJLCTCPQCCYZGJJZMYPBJMTCJWYQYRPCC
FQEFKHQEXQFPEXIIKBSBOPBBXYFIIYLXOAILSBIVXPXQOBB
EPDEJGPDWPEODWHHJARANOAAWXEHHXKWNZHKRAHUWOWPNAA
DOCDIFOCVODNCVGGIZQZMNZZVWDGGWJVMYGJQZGTVNVOMZZ
CNBCHENBUNCMBUFFHYPYLMYYUVCFFVIULXFIPYFSUMUNLYY
BMABGDMATMBLATEEGXOXKLXXTUBEEUHTKWEHOXERTLTMKXX
ALZAFCLZSLAKZSDDFWNWJKWWSTADDTGSJVDGNWDQSKSLJWW
ZKYZEBKYRKZJYRCCEVMVIJVVRSZCCSFRIUCFMVCPRJRKIVV
YJXYDAJXQJYIXQBBDULUHIUUQRYBBREQHTBELUBOQIQJHUU
XIWXCZIWPIXHWPAACTKTGHTTPQXAAQDPGSADKTANPHPIGTT
WHVWBYHVOHWGVOZZBSJSFGSSOPWZZPCOFRZCJSZMOGOHFSS
VGUVAXGUNGVFUNYYARIREFRRNOVYYOBNEQYBIRYLNFNGERR
UFTUZWFTMFUETMXXZQHQDEQQMNUXXNAMDPXAHQXKMEMFDQQ
TESTYVESLETDSLWWYPGPCDPPLMTWWMZLCOWZGPWJLDLECPP
SDRSXUDRKDSCRKVVXOFOBCOOKLSVVLYKBNVYFOVIKCKDBOO
RCQRWTCQJCRBQJUUWNENABNNJKRUUKXJAMUXENUHJBJCANN
QBPQVSBPIBQAPITTVMDMZAMMIJQTTJWIZLTWDMTGIAIBZMM
PAOPURAOHAPZOHSSULCLYZLLHIPSSIVHYKSVCLSFHZHAYLL
OZNOTQZNGZOYNGRRTKBKXYKKGHORRHUGXJRUBKREGYGZXKK
NYMNSPYMFYNXMFQQSJAJWXJJFGNQQGTFWIQTAJQDFXFYWJJ
MXLMROXLEXMWLEPPRIZIVWIIEFMPPFSEVHPSZIPCEWEXVII
LWKLQNWKDWLVKDOOQHYHUVHHDELOOERDUGORYHOBDVDWUHH

by inspection we see that the answer is the third element in the printed list

In [9]:
wheel = CypherWheel(3)
wheel.decrypt("LWKLQNWKDWLVKDOOQHYHUVHHDELOOERDUGORYHOBDVDWUHH")

'ITHINKTHATISHALLNEVERSEEABILLBOARDLOVELYASATREE'

 #### 1.3. For this exercise, use the simple substitution table given in Table 1.11.
 ##### (a) Encrypt the plaintext message: The gold is hidden in the garden.
 ##### (b) Make a decryption table, that is, make a table in which the ciphertext alphabet is in order from A to Z and the plaintext alphabet is mixed up.
 ##### (c) Use your decryption table from (b) to decrypt the following message: IBXLX JVXIZ SLLDE VAQLL DEVAU QLB

We solve the problem using two python dictionaries, one for encryption, which plays the rolw of the encryption table, and one for decryption, which plays the role of the decryption table that part b) asks to create.

In [13]:
import string
# Define plain and cipher letters in uppercase
plain_letters = list(string.ascii_uppercase)
cipher_letters = list("SCJAXUFBQKTPRWEZHVLIGYDNMO")

# Encryption dictionary: plain -> cipher
encrypt_dict = dict(zip(plain_letters, cipher_letters))

# Decryption dictionary: cipher -> plain
decrypt_dict = {v: k for k, v in encrypt_dict.items()}
print(encrypt_dict)
print(decrypt_dict)

{'A': 'S', 'B': 'C', 'C': 'J', 'D': 'A', 'E': 'X', 'F': 'U', 'G': 'F', 'H': 'B', 'I': 'Q', 'J': 'K', 'K': 'T', 'L': 'P', 'M': 'R', 'N': 'W', 'O': 'E', 'P': 'Z', 'Q': 'H', 'R': 'V', 'S': 'L', 'T': 'I', 'U': 'G', 'V': 'Y', 'W': 'D', 'X': 'N', 'Y': 'M', 'Z': 'O'}
{'S': 'A', 'C': 'B', 'J': 'C', 'A': 'D', 'X': 'E', 'U': 'F', 'F': 'G', 'B': 'H', 'Q': 'I', 'K': 'J', 'T': 'K', 'P': 'L', 'R': 'M', 'W': 'N', 'E': 'O', 'Z': 'P', 'H': 'Q', 'V': 'R', 'L': 'S', 'I': 'T', 'G': 'U', 'Y': 'V', 'D': 'W', 'N': 'X', 'M': 'Y', 'O': 'Z'}

solution part a)

In [15]:
# Message to encrypt
message = "The gold is hidden in the garden."

# Encrypt the message
encrypted_message = ""
for char in message.upper():
    if char in encrypt_dict:
        encrypted_message += encrypt_dict[char]
    else:
        encrypted_message += char  # Keep spaces and punctuation
encrypted_message

'IBX FEPA QL BQAAXW QW IBX FSVAXW.'

solution to part c)

In [17]:
cipher_text = "IBXLX JVXIZ SLLDE VAQLL DEVAU QLB"

plain_text = ""

for char in cipher_text:
    if char in decrypt_dict:
        plain_text += decrypt_dict[char]
    else:
        plain_text += char

plain_text

'THESE CRETP ASSWO RDISS WORDF ISH'

####  1.4. Each of the following messages has been encrypted using a simple substitution cipher. Decrypt them. For your convenience, we have given you a frequency table and a list of the most common bigrams that appear in the ciphertext.

We only solve part a)

 JNRZR BNIGI BJRGZ IZLQR OTDNJ GRIHT USDKR ZZWLG OIBTM NRGJN
 IJTZJ LZISJ NRSBL QVRSI ORIQT QDEKJ JNRQW GLOFN IJTZX QLFQL
 WBIMJ ITQXT HHTBL KUHQL JZKMM LZRNT OBIMI EURLW BLQZJ GKBJT
 QDIQS LWJNR OLGRI EZJGK ZRBGS MJLDG IMNZT OIHRK MOSOT QHIJL
 QBRJN IJJNT ZFIZL WIZTO MURZM RBTRZ ZKBNN LFRVR GIZFL KUHIM
 MRIGJ LJNRB GKHRT QJRUU RBJLW JNRZI TULGI EZLUK JRUST QZLUK
 EURFT JNLKJ JNRXR S

Frequency table:

In [2]:
freq_dict = {
    'R': 33,
    'J': 30,
    'I': 27,
    'L': 25,
    'Z': 24,
    'T': 20,
    'N': 19,
    'Q': 16,
    'B': 15,
    'G': 15,
    'K': 13,
    'U': 12,
    'M': 12,
    'O': 10,
    'S': 9,
    'H': 8,
    'W': 7,
    'F': 6,
    'E': 5,
    'D': 5,
    'X': 3,
    'V': 2
}

 The most frequent bigrams are: JN (11 times), NR (8 times), TQ (6 times), and
 LW, RB, RZ,andJL (5 times each)

Recall that the most common english letters are e, t, a, o, n in that order. And the most common english bigrams: th, he, an, re, er, in. We begin with the initial guess: R-> E, J-> T, N->H

In [3]:
guess_dict = {'R': 'E', 'J': 'T', 'N': 'H'}
ciphertext = "JNRZR BNIGI BJRGZ IZLQR OTDNJ GRIHT USDKR ZZWLG OIBTM NRGJN IJTZJ LZISJ NRSBL QVRSI ORIQT QDEKJ JNRQW GLOFN IJTZX QLFQL WBIMJ ITQXT HHTBL KUHQL JZKMM LZRNT OBIMI EURLW BLQZJ GKBJT QDIQS LWJNR OLGRI EZJGK ZRBGS MJLDG IMNZT OIHRK MOSOT QHIJL QBRJN IJJNT ZFIZL WIZTO MURZM RBTRZ ZKBNN LFRVR GIZFL KUHIM MRIGJ LJNRB GKHRT QJRUU RBJLW JNRZI TULGI EZLUK JRUST QZLUK EURFT JNLKJ JNRXR S"
guess_text = ""
for char in ciphertext:
    if char in guess_dict:
        guess_text += guess_dict[char]
    elif char == ' ':
        guess_text += char
    else:
        guess_text += '-'

guess_text

'THE-E -H--- -TE-- ----E ---HT -E--- ----E ----- ----- HE-TH -T--T ----T HE--- --E-- -E--- ----T THE-- ----H -T--- ----- ----T ----- ----- ----- T---- --EH- ----- --E-- ----T ---T- ----- --THE ---E- --T-- -E--- -T--- --H-- ---E- ----- ---T- --ETH -TTH- ----- ----- --E-- E--E- ---HH --E-E ----- ----- -E--T -THE- ---E- -TE-- E-T-- THE-- ----- ----- TE--- ----- --E-- TH--T THE-E -'

The first word seems to be "there" or "these". Since it is the first word of the paragraph I make the initial guess that the letter should be "s", that is Z -> S. On the other hand, amongst the most frequent letters in english we still have a, o, n. We carry on guessing that I-> A, L->O.

In [4]:
guess_dict = {'R': 'E', 'J': 'T', 'N': 'H', 'Z': 'S', 'L': 'O', 'I': 'A',}
ciphertext = "JNRZR BNIGI BJRGZ IZLQR OTDNJ GRIHT USDKR ZZWLG OIBTM NRGJN IJTZJ LZISJ NRSBL QVRSI ORIQT QDEKJ JNRQW GLOFN IJTZX QLFQL WBIMJ ITQXT HHTBL KUHQL JZKMM LZRNT OBIMI EURLW BLQZJ GKBJT QDIQS LWJNR OLGRI EZJGK ZRBGS MJLDG IMNZT OIHRK MOSOT QHIJL QBRJN IJJNT ZFIZL WIZTO MURZM RBTRZ ZKBNN LFRVR GIZFL KUHIM MRIGJ LJNRB GKHRT QJRUU RBJLW JNRZI TULGI EZLUK JRUST QZLUK EURFT JNLKJ JNRXR S"
guess_text = ""
for char in ciphertext:
    if char in guess_dict:
        guess_text += guess_dict[char]
    elif char == ' ':
        guess_text += char
    else:
        guess_text += '-'

guess_text

'THESE -HA-A -TE-S ASO-E ---HT -EA-- ----E SS-O- -A--- HE-TH AT-ST OSA-T HE--O --E-A -EA-- ----T THE-- -O--H AT-S- -O--O --A-T A---- ----O ----O TS--- OSEH- --A-A --EO- -O-ST ---T- --A-- O-THE -O-EA -ST-- SE--- -TO-- A-HS- -A-E- ----- --ATO --ETH ATTH- S-ASO -AS-- --ES- E--ES S--HH O-E-E -AS-O ---A- -EA-T OTHE- ---E- -TE-- E-TO- THESA --O-A -SO-- TE--- -SO-- --E-- THO-T THE-E -'

The second word seems to be 'characters' so we make the guesses 'B' : 'C', 'G' : 'R'. Also we seem to have the fragment TH AT-ST OSA-T seems to say, that is to say. So we make the guesses 'T' : 'I', 'S' : 'Y',

In [6]:
guess_dict = {'R': 'E', 'J': 'T', 'N': 'H', 'Z': 'S', 'L': 'O', 'I': 'A', 'B' : 'C', 'G' : 'R', 'T' : 'I', 'S' : 'Y',}
ciphertext = "JNRZR BNIGI BJRGZ IZLQR OTDNJ GRIHT USDKR ZZWLG OIBTM NRGJN IJTZJ LZISJ NRSBL QVRSI ORIQT QDEKJ JNRQW GLOFN IJTZX QLFQL WBIMJ ITQXT HHTBL KUHQL JZKMM LZRNT OBIMI EURLW BLQZJ GKBJT QDIQS LWJNR OLGRI EZJGK ZRBGS MJLDG IMNZT OIHRK MOSOT QHIJL QBRJN IJJNT ZFIZL WIZTO MURZM RBTRZ ZKBNN LFRVR GIZFL KUHIM MRIGJ LJNRB GKHRT QJRUU RBJLW JNRZI TULGI EZLUK JRUST QZLUK EURFT JNLKJ JNRXR S"
guess_text = ""
for char in ciphertext:
    if char in guess_dict:
        guess_text += guess_dict[char]
    elif char == ' ':
        guess_text += char
    else:
        guess_text += '-'

guess_text

'THESE CHARA CTERS ASO-E -I-HT REA-I -Y--E SS-OR -ACI- HERTH ATIST OSAYT HEYCO --EYA -EA-I ----T THE-- RO--H ATIS- -O--O -CA-T AI--I --ICO ----O TS--- OSEHI -CA-A --EO- CO-ST R-CTI --A-Y O-THE -OREA -STR- SECRY -TO-R A-HSI -A-E- --Y-I --ATO -CETH ATTHI S-ASO -ASI- --ES- ECIES S-CHH O-E-E RAS-O ---A- -EART OTHEC R--EI -TE-- ECTO- THESA I-ORA -SO-- TE-YI -SO-- --E-I THO-T THE-E Y'

The begining seems to say: "these characters as one might readily guess". So we make the guesses 'Q' : 'N', 'O': 'M', 'D' : 'G', 'H': 'D', 'U' : 'L', 'K': 'U',

In [9]:
guess_dict = {'R': 'E', 'J': 'T', 'N': 'H', 'Z': 'S', 'L': 'O', 'I': 'A', 'B' : 'C', 'G' : 'R', 'T' : 'I', 'S' : 'Y', 'Q' : 'N', 'O': 'M', 'D' : 'G', 'H': 'D', 'U' : 'L', 'K': 'U',}
ciphertext = "JNRZR BNIGI BJRGZ IZLQR OTDNJ GRIHT USDKR ZZWLG OIBTM NRGJN IJTZJ LZISJ NRSBL QVRSI ORIQT QDEKJ JNRQW GLOFN IJTZX QLFQL WBIMJ ITQXT HHTBL KUHQL JZKMM LZRNT OBIMI EURLW BLQZJ GKBJT QDIQS LWJNR OLGRI EZJGK ZRBGS MJLDG IMNZT OIHRK MOSOT QHIJL QBRJN IJJNT ZFIZL WIZTO MURZM RBTRZ ZKBNN LFRVR GIZFL KUHIM MRIGJ LJNRB GKHRT QJRUU RBJLW JNRZI TULGI EZLUK JRUST QZLUK EURFT JNLKJ JNRXR S"
guess_text = ""
for char in ciphertext:
    if char in guess_dict:
        guess_text += guess_dict[char]
    elif char == ' ':
        guess_text += char
    else:
        guess_text += '-'

guess_text

'THESE CHARA CTERS ASONE MIGHT READI LYGUE SS-OR MACI- HERTH ATIST OSAYT HEYCO N-EYA MEANI NG-UT THEN- ROM-H ATIS- NO-NO -CA-T AIN-I DDICO ULDNO TSU-- OSEHI MCA-A -LEO- CONST RUCTI NGANY O-THE MOREA -STRU SECRY -TOGR A-HSI MADEU -MYMI NDATO NCETH ATTHI S-ASO -ASIM -LES- ECIES SUCHH O-E-E RAS-O ULDA- -EART OTHEC RUDEI NTELL ECTO- THESA ILORA -SOLU TELYI NSOLU -LE-I THOUT THE-E Y'

We only have a few letters left, amongst the remaing wholes, the first letter that we lack seems to be an 'f' to make the word 'form', the second is a 'p' to make the word 'cipher', the third one is a 'v', to make the word 'convey'. So we have 'M': 'P', 'W': 'F', 'V': 'V'

In [10]:
guess_dict = {'R': 'E', 'J': 'T', 'N': 'H', 'Z': 'S', 'L': 'O', 'I': 'A', 'B' : 'C', 'G' : 'R', 'T' : 'I', 'S' : 'Y', 'Q' : 'N', 'O': 'M', 'D' : 'G', 'H': 'D', 'U' : 'L', 'K': 'U', 'M': 'P', 'W': 'F', 'V': 'V',}
ciphertext = "JNRZR BNIGI BJRGZ IZLQR OTDNJ GRIHT USDKR ZZWLG OIBTM NRGJN IJTZJ LZISJ NRSBL QVRSI ORIQT QDEKJ JNRQW GLOFN IJTZX QLFQL WBIMJ ITQXT HHTBL KUHQL JZKMM LZRNT OBIMI EURLW BLQZJ GKBJT QDIQS LWJNR OLGRI EZJGK ZRBGS MJLDG IMNZT OIHRK MOSOT QHIJL QBRJN IJJNT ZFIZL WIZTO MURZM RBTRZ ZKBNN LFRVR GIZFL KUHIM MRIGJ LJNRB GKHRT QJRUU RBJLW JNRZI TULGI EZLUK JRUST QZLUK EURFT JNLKJ JNRXR S"
guess_text = ""
for char in ciphertext:
    if char in guess_dict:
        guess_text += guess_dict[char]
    elif char == ' ':
        guess_text += char
    else:
        guess_text += '-'

guess_text

'THESE CHARA CTERS ASONE MIGHT READI LYGUE SSFOR MACIP HERTH ATIST OSAYT HEYCO NVEYA MEANI NG-UT THENF ROM-H ATIS- NO-NO FCAPT AIN-I DDICO ULDNO TSUPP OSEHI MCAPA -LEOF CONST RUCTI NGANY OFTHE MOREA -STRU SECRY PTOGR APHSI MADEU PMYMI NDATO NCETH ATTHI S-ASO FASIM PLESP ECIES SUCHH O-EVE RAS-O ULDAP PEART OTHEC RUDEI NTELL ECTOF THESA ILORA -SOLU TELYI NSOLU -LE-I THOUT THE-E Y'

Finally, the first wholes that we have seem to be filled with the letters 'b', 'w', 'k', to make the sentence 'but then from what is known'. We make the substitutions 'F': 'W', 'E': 'B', 'X': 'K',

In [11]:
guess_dict = {'R': 'E', 'J': 'T', 'N': 'H', 'Z': 'S', 'L': 'O', 'I': 'A', 'B' : 'C', 'G' : 'R', 'T' : 'I', 'S' : 'Y', 'Q' : 'N', 'O': 'M', 'D' : 'G', 'H': 'D', 'U' : 'L', 'K': 'U', 'M': 'P', 'W': 'F', 'V': 'V', 'F': 'W', 'E': 'B', 'X': 'K'}
ciphertext = "JNRZR BNIGI BJRGZ IZLQR OTDNJ GRIHT USDKR ZZWLG OIBTM NRGJN IJTZJ LZISJ NRSBL QVRSI ORIQT QDEKJ JNRQW GLOFN IJTZX QLFQL WBIMJ ITQXT HHTBL KUHQL JZKMM LZRNT OBIMI EURLW BLQZJ GKBJT QDIQS LWJNR OLGRI EZJGK ZRBGS MJLDG IMNZT OIHRK MOSOT QHIJL QBRJN IJJNT ZFIZL WIZTO MURZM RBTRZ ZKBNN LFRVR GIZFL KUHIM MRIGJ LJNRB GKHRT QJRUU RBJLW JNRZI TULGI EZLUK JRUST QZLUK EURFT JNLKJ JNRXR S"
guess_text = ""
for char in ciphertext:
    if char in guess_dict:
        guess_text += guess_dict[char]
    elif char == ' ':
        guess_text += char
    else:
        guess_text += '-'

guess_text

'THESE CHARA CTERS ASONE MIGHT READI LYGUE SSFOR MACIP HERTH ATIST OSAYT HEYCO NVEYA MEANI NGBUT THENF ROMWH ATISK NOWNO FCAPT AINKI DDICO ULDNO TSUPP OSEHI MCAPA BLEOF CONST RUCTI NGANY OFTHE MOREA BSTRU SECRY PTOGR APHSI MADEU PMYMI NDATO NCETH ATTHI SWASO FASIM PLESP ECIES SUCHH OWEVE RASWO ULDAP PEART OTHEC RUDEI NTELL ECTOF THESA ILORA BSOLU TELYI NSOLU BLEWI THOUT THEKE Y'

## Section 1.2

 1.12. The method for solving au+bv =gcd(a,b) described in Sect.1.2 is somewhat
 inefficient. This exercise describes a method to compute u and v that is well suited
 for computer implementation. In particular, it uses very little storage.
 The following algorithm computes the greatest common divisor g of
 the positive integers a and b, together with a solution (u,v) in integers to the
 equation au +bv =gcd(a,b).
 1. Set u =1, g =a, x=0, and y =b
 2. If y =0, set v =(g−au)/b and return the values (g,u,v)
 3. Divide g by y with remainder, g = qy+t,with 0 ≤ t<y
 4. Set s =u−qx
 5. Set u =x and g =y
 6. Set x =s and y =t
 7. Go To Step (2)
    
 (b) Implement the above algorithm on a computer using the computer language of
 your choice.
 
 (c) Use your program to compute g =gcd(a,b) and integer solutions to the equa
tion au +bv = g for the following pairs (a,b).
 (i) (527,1258), 
 (ii) (228,1056), 
 (iii) (163961,167181),  
 (iv) (3892394,239847)
 
 (d) What happens to your program if b = 0? Fix the program so that it deals with
 this case correctly.

we solve b) and d) at the same time. The problem with b = 0 is that we cannot compute v, since it is computed dividing by b. If b = 0 and a is distinct form 0, then the gcd of a and b is a, gcd(a,b) = b. It is clear then that u = 1, v = 0. We handle this isolated case at the beginning of the program

In [11]:
def extended_gcd(a, b):
    if a == 0 and b == 0:
        raise ValueError("gcd is undefined for a = 0 and b = 0")
    
    u, g = 1, a
    x, y = 0, b
    if y == 0:
        return a, 1, 0
        
    while y != 0:
        q = g // y
        t = g % y
        s = u - q * x

        # Update variables for next iteration
        u, g = x, y
        x, y = s, t

    v = (g - a * u) // b  # Compute v from the equation au + bv = g
    return g, u, v

In [ ]:
We use the defined function to solve c)

In [3]:
print(extended_gcd(527,1258))
print(extended_gcd(228,1056))
print(extended_gcd(163961,167181))
print(extended_gcd(3892394,239847))

(17, -31, 13)
(12, -37, 8)
(7, 4517, -4430)
(1, 59789, -970295)

In [4]:
-31*527 + 13*1258

17

In [5]:
-37*228 + 8*1056

12

In [6]:
4517*163961 - 4430*167181

7

In [7]:
59789*3892394 -970295*239847

1

**1.16.** Write out the following tables for $\mathbb{Z}/m\mathbb{Z}$ and $(\mathbb{Z}/m\mathbb{Z})^*$, as we did in Figs. 1.4 and 1.5.

(a) Make addition and multiplication tables for $\mathbb{Z}/3\mathbb{Z}$.

(b) Make addition and multiplication tables for $\mathbb{Z}/6\mathbb{Z}$.

(c) Make a multiplication table for the unit group $(\mathbb{Z}/9\mathbb{Z})$.

(d) Make a multiplication table for the unit group $(\mathbb{Z}/16\mathbb{Z})$.

We create two functions that have as input an integer n, and return a python dictionary containing the information of the sum and multiplication table modulo n.

In [14]:
import pandas as pd
from IPython.display import display

def sum_table_integers_modulo(n):
    table = {(i, j): (i + j) % n for i in range(n) for j in range(n)}
    return table
def mult_table_integers_modulo(n):
    table = {(i, j): (i * j) % n for i in range(n) for j in range(n)}
    return table

Solution to a)

In [7]:
n = 3
table_dict = sum_table_integers_modulo(n)

df = pd.DataFrame([[table_dict[(i, j)] for j in range(n)] for i in range(n)],
                  index=[f"{i}" for i in range(n)],
                  columns=[f"{j}" for j in range(n)])

df.index.name = "i\\j"

display(df)

     0  1  2
i\j
0    0  1  2
1    1  2  0
2    2  0  1

In [8]:
n = 3
table_dict = mult_table_integers_modulo(n)

df = pd.DataFrame([[table_dict[(i, j)] for j in range(n)] for i in range(n)],
                  index=[f"{i}" for i in range(n)],
                  columns=[f"{j}" for j in range(n)])

df.index.name = "i\\j"

display(df)

     0  1  2
i\j
0    0  0  0
1    0  1  2
2    0  2  1

Solution to b)

In [9]:
n = 6
table_dict = sum_table_integers_modulo(n)

df = pd.DataFrame([[table_dict[(i, j)] for j in range(n)] for i in range(n)],
                  index=[f"{i}" for i in range(n)],
                  columns=[f"{j}" for j in range(n)])

df.index.name = "i\\j"

display(df)
table_dict = mult_table_integers_modulo(n)

df = pd.DataFrame([[table_dict[(i, j)] for j in range(n)] for i in range(n)],
                  index=[f"{i}" for i in range(n)],
                  columns=[f"{j}" for j in range(n)])

df.index.name = "i\\j"

display(df)

     0  1  2  3  4  5
i\j
0    0  1  2  3  4  5
1    1  2  3  4  5  0
2    2  3  4  5  0  1
3    3  4  5  0  1  2
4    4  5  0  1  2  3
5    5  0  1  2  3  4

     0  1  2  3  4  5
i\j
0    0  0  0  0  0  0
1    0  1  2  3  4  5
2    0  2  4  0  2  4
3    0  3  0  3  0  3
4    0  4  2  0  4  2
5    0  5  4  3  2  1

Now we recycle the extended_gcd function to create a function that first checks whether an element is a unit and then creates the multiplication table.

In [12]:
def table_group_of_units(n):

    units = []
    for i in range(1, n):
        if extended_gcd(i, n)[0] == 1:
            units.append(i)

    table = {(a, b): (a * b) % n for a in units for b in units}

     # Display using pandas DataFrame
    df = pd.DataFrame([[table[(a, b)] for b in units] for a in units],
                      index=[f"{a}" for a in units],
                      columns=[f"{b}" for b in units])

    df.index.name = "×"
    return df

Solution to c)

In [13]:
display(table_group_of_units(9))

   1  2  4  5  7  8
×
1  1  2  4  5  7  8
2  2  4  8  1  5  7
4  4  8  7  2  1  5
5  5  1  2  7  8  4
7  7  5  1  8  4  2
8  8  7  5  4  2  1

Solution to d)

In [15]:
display(table_group_of_units(16))

     1   3   5   7   9  11  13  15
×
1    1   3   5   7   9  11  13  15
3    3   9  15   5  11   1   7  13
5    5  15   9   3  13   7   1  11
7    7   5   3   1  15  13  11   9
9    9  11  13  15   1   3   5   7
11  11   1   7  13   3   9  15   5
13  13   7   1  11   5  15   9   3
15  15  13  11   9   7   5   3   1

We implement the algorithm to compute powers module an integer described in exercise **1.25**

In [16]:
def square_and_multiply_mod(N, g, A):
    a = g
    b = 1
    while A > 0:
        if A % 2 == 1:
            b = (b * a) % N
        a = (a ** 2) % N
        A = A // 2
    return b

### Exercise 1.26

Use the square-and-multiply algorithm described in Sect. 1.3.2, or the more efficient version in Exercise 1.25, to compute the following powers:

- **(a)** $17^{183} \mod{256}$
- **(b)** $2^{477} \mod{1000}$
- **(c)** $11^{507} \mod{1237}$

In [17]:
print(square_and_multiply_mod(256, 17, 183))  # part (a)
print(square_and_multiply_mod(1000, 2, 477))  # part (b)
print(square_and_multiply_mod(1237, 11, 507)) # part (c)

113
272
322